.jumbotron
  %h2 An efficient way to manage your comic collection.

#search
  #search-container
  #results-container

- content_for :footer do
  :coffeescript
    $ ->
      React.render React.createElement(MMC.Components.Search, {}), document.getElementById('search')